.task {
	display: flex;
	align-items: center;
	gap: 10px;
}

.list {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.filters {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}


.filter {
	display: flex;
	align-items: center;
	gap: 10px;
}

.counter {
	margin-left: auto;
	display: flex;
	gap: 10px;
	align-items: center;
	white-space: nowrap;

	& button {
		width: 50px;
	}
}
