.task {
	display: flex;
	align-items: center;
	gap: 10px;
}

.task__status {
	text-align: center;
	padding: 0;
}

.list {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.filters {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.checkbox {
	display: flex;
	align-items: center;
	gap: 10px;
}

.counter {
	margin-left: auto;
	display: flex;
	gap: 10px;
	align-items: center;
	white-space: nowrap;

	& button {
		width: 50px;
	}
}

/* Adjust grid manager `Tasks` layout when the right sidebar width is 500px or less */
@container (max-width: 400px) {
	.task {
		flex-direction: column;
		gap: 15px;
	}

	.counter {
		margin-left: 0;
	}

	.task__status {
		order: 3;
	}
}
