.note {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.note__input-and-button {
	display: flex;
	gap: 10px;
}

.note__input {
	flex: 1;
}

.task__select-option {
	text-align: center;
	padding: 0 0.2rem;
}

.statusCheckboxRow {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.statusCheckboxItem {
	display: flex;
	align-items: center;
	gap: 0.3rem;
}
