.table {
	margin-top: 20px;
	border-collapse: collapse;
	width: 100%;
}

.active-page {
	color: var(--color-accent);
}

.table th,
.table td {
	border: 1px solid var(--text-normal);
	text-align: center;
	padding: 0 10px;
}

.page-list {
	display: flex;
	gap: 10px;
	padding: 10 0;
}
