/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

li {
	list-style-type: none;
}

.todo {
	display: flex;
	align-items: center;
}

ul {
	padding: 0;
}
