[data-type="gamified-tasks-view"] {
	.view-content {
		padding: 5px;

		/* Based on right sidebar width it will adapt layouts to various screens */
		container-type: size;
	}

	.checkbox {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	.list-item {
		list-style-type: none;
	}

	.todo {
		display: flex;
		align-items: center;
	}

	.list {
		padding: 0;
		padding-inline-start: none;
	}

	.border {
		border: 1px solid var(--divider-color);
		border-radius: 5px;
		padding: 10px;
	}

	.flex-items-center {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	.flex-column {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.flex-between {
		display: flex;
		justify-content: space-between;
	}

	@tailwind utilities;
}

.gamified-tasks__difficulty-setting {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.gamified-tasks__difficulty-entry {
	display: flex;
	gap: 15px;
	align-items: center;

	& > input {
		width: 100%;
	}
}
