.header {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: space-between;
}

.depository {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 10px;

	&>#input-coins {
		width: 100%;
	}

	&>.buttons {
		display: flex;
		width: 100%;
		gap: 10px;

		&>button {
			flex: 1;
		}
	}
}

.reward {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.title,
.desc {
	padding: 0;
	margin: 0;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

@container (max-width: 400px) {
	.reward {
		text-align: center;
		flex-direction: column;
	}
}
