.task {
	display: flex;
	gap: 10px;
}

.list {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.filters {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.border {
	border: 1px solid var(--text-normal);
	border-radius: 10px;
	padding: 10px;
}
